In [2]:
import pandas as pd

In [9]:
df = pd.read_csv('fifa20_data.csv', low_memory=False)

In [10]:
df.describe()

,Age,Overall,Potential,ID,BOV,Growth,Attacking,Crossing,Finishing,Heading Accuracy,...,Base Stats,W/F,SM,IR,PAC,SHO,PAS,DRI,DEF,PHY
count,18547.000000,18547.000000,18547.000000,18547.000000,18547.000000,18547.000000,18547.000000,18547.000000,18547.000000,18547.000000,...,18547.000000,18547.000000,18547.000000,18547.000000,18547.000000,18547.000000,18547.000000,18547.00000,18547.000000,18547.00000
mean,25.238313,66.255459,66.255459,220055.715372,67.151992,5.282903,249.298862,49.820834,45.585647,52.257131,...,356.669003,2.944573,2.367391,1.100879,67.574271,53.485308,57.785841,62.97164,50.116083,64.73586
std,4.675843,6.904721,6.904721,28005.502234,6.924998,5.565346,74.458902,18.258227,19.540164,17.363932,...,40.483496,0.666276,0.764048,0.375734,10.944387,13.843300,10.166932,10.09828,16.412060,9.58503
min,16.000000,47.000000,47.000000,41.000000,47.000000,0.000000,38.000000,6.000000,2.000000,5.000000,...,206.000000,1.000000,1.000000,1.000000,24.000000,15.000000,24.000000,23.00000,12.000000,27.00000
25%,21.000000,62.000000,62.000000,204690.500000,63.000000,0.000000,223.000000,38.000000,30.000000,45.000000,...,329.000000,3.000000,2.000000,1.000000,61.000000,44.000000,51.000000,58.00000,35.000000,59.00000
50%,25.000000,66.000000,66.000000,226414.000000,67.000000,4.000000,264.000000,54.000000,49.000000,55.000000,...,357.000000,3.000000,2.000000,1.000000,68.000000,56.000000,59.000000,64.00000,53.000000,66.00000
75%,29.000000,71.000000,71.000000,241129.000000,72.000000,9.000000,298.000000,64.000000,62.000000,64.000000,...,385.000000,3.000000,3.000000,1.000000,75.000000,64.000000,65.000000,70.00000,64.000000,72.00000
max,42.000000,94.000000,94.000000,253494.000000,95.000000,25.000000,437.000000,93.000000,95.000000,93.000000,...,498.000000,5.000000,5.000000,5.000000,96.000000,93.000000,93.000000,96.00000,90.000000,91.00000

In [12]:
df.columns

Index(['Name', 'Image', 'Country', 'Position', 'Age', 'Overall', 'Potential',
       'Club', 'ID', 'Height', 'Weight', 'foot', 'BOV', 'BP', 'Growth',
       'Joined', 'Loan Date End', 'Value', 'Wage', 'Release Clause',
       'Attacking', 'Crossing', 'Finishing', 'Heading Accuracy',
       'Short Passing', 'Volleys', 'Skill', 'Dribbling', 'Curve',
       'FK Accuracy', 'Long Passing', 'Ball Control', 'Movement',
       'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance',
       'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots',
       'Mentality', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle',
       'Sliding Tackle', 'Goalkeeping', 'GK Diving', 'GK Handling',
       'GK Kicking', 'GK Positioning', 'GK Reflexes', 'Total Stats',
       'Base Stats', 'W/F', 'SM', 'A/W', 'D/W', 'IR', 'PAC', 'SHO', 'PAS',
       'DRI', 'DEF', 'PHY', 'Hits'],
      dtype='object')

In [6]:
df.head()

,Name,Image,Country,Position,Age,Overall,Potential,Club,ID,Height,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,Lionel Messi,https://cdn.sofifa.org/players/4/20/158023.png,Argentina,"RW,CF,ST",32,94,94,FC Barcelona,158023,"5'7""",...,Medium,Low,5,87,92,92,96,39,66,585
1,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.org/players/4/20/20801.png,Portugal,"ST,LW",34,93,93,Juventus,20801,"6'2""",...,High,Low,5,90,93,82,89,35,78,448
2,Neymar da Silva Santos Jr.,https://cdn.sofifa.org/players/4/20/190871.png,Brazil,"LW,CAM",27,92,92,Paris Saint-Germain,190871,"5'9""",...,High,Medium,5,91,85,87,95,32,58,432
3,Jan Oblak,https://cdn.sofifa.org/players/4/20/200389.png,Slovenia,GK,26,91,91,Atlético Madrid,200389,"6'2""",...,Medium,Medium,3,87,92,78,89,52,90,240
4,Kevin De Bruyne,https://cdn.sofifa.org/players/4/20/192985.png,Belgium,"CAM,CM",28,91,91,Manchester City,192985,"5'11""",...,High,High,4,76,86,92,86,61,78,298